/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* commons */
body {
    font-family: 'Lato',sans-serif;
    height: 100vh;
    background: rgb(0, 150, 137);
    background: linear-gradient(180deg, rgba(0, 150, 137, 1) 12%, rgba(219, 219, 210, 1) 12%);
}

i:active {
    transform: scale(0.97);
}


.container {
    background-color: white;
    height: 95vh;
    width: 75%;
    margin: 2% auto;

    
}

.row {
    display: flex;
    width: 100%;
    height: 100%;

}

/* col-1 styling */

.col-1 {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* barra utente  */

.utente {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F9FA;
    padding: 5px;
    height: 50px;
}

.img-utente {
    display: flex;
    align-items: center;
}

.img-utente img {
    width: 35px;
    border-radius: 50%;
    margin: 0 8px;
}

.icone-utente i {
    margin: 0 5px;
    color: #B1B1B1;
}


/* //barra utente  */

/* notification */
.attiva-notifiche {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #8EDAFC;
    padding: 5px;
}

.attiva-notifiche i {
    color: #8EDAFC;
    font-size: 20px;
    padding: 12px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 10px;
}

.attiva-notifiche .text a {
    font-size: 15px;
    color: #517788;
    font-size: 12px;
}

/* /notification */

/* search bar  */
.col-1 .form {
    position: relative;
    background-color: #F8F9FA;
    padding: 3px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.col-1 input {
    width: 85%;
    height: 30px;
    border: none;
    padding: 5px;
    outline: none
}

.col-1 input:active{
    border: none;
}

.col-1, .col-2 input:focus {
    border: none;
    outline: none

}

.col-1 .button.search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.col-1 .button.search a {
    text-decoration: none;
    color: gray;
}

/* ///search bar  */

/* elenco contatti  */
.container-contatti {
    overflow-x: hidden;
    overflow-y: scroll;
    height: inherit;
    background-color: #F8F9FA;
    width: 100%;
}

.elenco-contatti:hover{
    background-color:#E9EBEB ;
}

.elenco-contatti {
    display: flex;
    justify-self: center;
    /* flex-direction: column; */
    align-items: center;
    margin: 10px;
    width: 100%;
    justify-content: space-between;
}
.text-contact{
    text-align: left;
}
.text-contact .last-message{
    font-size: 10px;
}

.elenco-contatti img {
    padding: 2px;
    width: 55px;
    border-radius: 50%;
    margin-right: 10px;
}

.img-n-name{
    display: flex;
    align-items: center;
    text-align: right;
}

.div-info{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin: 0 20px;
    text-align: right;
}

.div-info:last-of-type(span){
    font-size: 6px;
}

.last-message{
    position:relative;
    display: flex;
    align-items: start;
    width: 100%; 
}

.icon-check{
    margin-right: 6px;
}

.check{
    color:gray;
   
}

.check.due{
    position: absolute;
    left: 5px;
}

/* //elenco contatti  */


/* ///col-1 styling */




/* col2 styling  */

.col-2 {
    position: relative;
    width: 70%;
    border-left: 0.1px solid #b4b2b2;
}

/* intro page  */

.intro-page{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: #F8F9FA;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 3;
}

.intro-page img{
    width: 300px;
}
.text-intro div{
    margin: 40px 0;
    font-size: 30px;
    font-weight:lighter;
}

.text-intro p{
    max-width: 500px;
    padding-bottom: 40px;
    border-bottom: 0.5px solid gray;
    color: gray;
}

#link-calls{
margin: 40px;
color: gray;
}
#link-calls a{
    color: #0AA56D;
    text-decoration: none;
}

#link-calls i{
    margin: 0 5px;
}

.text-intro{
    text-align: center;
}

/* /intro page  */

/* barra conversazione  */

.utente-conversazion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    padding: 5px;
    height: 50px;
}

.img-utente-conversazione {
    display: flex;
    align-items: center;
}

.img-utente-conversazione img {
    width: 35px;
    border-radius: 50%;
    margin: 0 8px;
}

.icone-utente-conversazione i {
    margin: 0 5px;
    color: #B1B1B1;
}

.last-access{
    color: gray;
    font-size: 14px;
}

/* //barra conversazione  */

/* main section  */
main {
    display: flex;
    flex-direction: column;
    background-image: url('/img/mine.jpg');
    background-size: contain;
    height: calc(100% - 100px);
    overflow-y: scroll;
    padding: 10px;
}

/* message section  */
#chat{
    position:relative;
    top: 50px;
    overflow-wrap: break-word;
    padding: 20px;
}

.text-message{
   width: 100%;
   overflow-wrap: break-word;
}

.sent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    align-self: end;
    background-color: #D5F9BA;
    max-width:400px;
    margin:0px 100px 20px 100px;
    padding: 10px;
    border-radius: 12px 12px 0px 12px;
    font-size: 14px;
}


.received {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-self: start;
    max-width:400px ;
    margin: 10px 100px;
    padding: 10px;
    background-color: white;
    border-radius: 12px 12px 12px 0px;
    font-size: 14px;
}



.date{
    padding: 5px;
    align-self: end;
    font-size: 8px;
    color: rgb(182, 179, 179);
}

/* //message section  */


/* ///main section  */

/* footer section  */
footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #F3EEEA;
}

footer input {
    height: 40px;
    width: 78%;
}

footer i {
    margin: 0 5px;
    color: #B1B1B1;
    max-width: 50px;
}


.col-2 input{
    border: none;
    padding: 5px;
    border-radius: 20px;
}

/* footer section  */


/* ///col2 styling  */


.active-chat{
    background-color:#E9EBEB;
}





/* debug */

/* .debug .container {
    height: 90vh;
    width: 80%;
    margin: 2% auto;

} */


/* .debug .col-1,
.debug .col-2 {
    height: 100%;

} */

.none{
    display: none;
}


/* dorpdown  */
.dropdown{
  display: flex;
  width: 100%;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  transform: scale(0);
  transition: 0.2s;
}

.dropdown li{
    text-decoration: none;
    list-style: none;
    padding: 10px;
}

.dropdown li:hover{
    background-color: rgba(128, 128, 128, 0.219);
}

.dropdown li:active{
    transform: scale(0.97);
}

.transform{
    transform: scale(1);
    transition: 0.2s;
   
    
}
#chat i{
    position:absolute;
    display: none;
    top: -3px;
    right: 2px;
    padding: px;
    margin: 5px;
    color: rgba(128, 128, 128, 0.637);
    transition: 0.2s;
}

#chat:hover i{
    display: block;
}


.rotate{
    transform: rotate(180deg);
    transition: 0.2s;
    
}

.blue{
    color: rgb(0, 183, 255);
}